
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.class-display{
  font-family: 'Clash Display', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.unica{
  font-family: 'Unica One', cursive;
}

a.active{
background-image: linear-gradient(to right, #3b82f6, #8b5cf6, #ec4899);
background-clip: text;
color: transparent;
}

.spiner{
  background-image: linear-gradient(to right, #3b82f6, #8b5cf6, #ec4899);
background-clip: text;
color: transparent;
}

.bgImage{
  background: url(../Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.jus-right:nth-child(odd){
  text-align: center;
  border-right: 2px solid red;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out;
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}



@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate 5s linear infinite; /* Adjust the duration and timing function as needed */
}
