
@tailwind base;
@tailwind components;
@tailwind utilities;


.class-display{
  font-family: 'Clash Display', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.unica{
  font-family: 'Unica One', cursive;
}